<section class="text-center align-baseline">
    {# The search field #}
    <input
        id="search-field"
        class="input input-bordered w-full max-w-xs m-3"
        data-bind-search
        data-on-input__debounce.200ms="{{ datastar.sse('_datastar/faceted-search.twig') }}"
        placeholder="Search..."
        type="text"
    />
    <div class="inline" style="display: none"
         data-show="search.value != ''"
    ></div>
    {# The generation facet #}
    <div class="inline m-3">
        <label for="generation-field" class="mr-2">Generation</label>
        <select
            id="generation-field"
            class="select select-bordered max-w-xs"
            name="generation"
            data-bind-generation
            data-on-change="{{ datastar.sse('_datastar/faceted-search.twig') }}">
            <option value="0">All</option>
            {{ include("_includes/options-generation.twig") }}
        </select>
    </div>
    {# The type facet #}
    <div class="inline m-3">
        <label for="type-field" class="mr-2">Type</label>
        <select
            id="type-field"
            class="select select-bordered max-w-xs"
            name="type"
            data-bind-type
            data-on-change="{{ datastar.sse('_datastar/faceted-search.twig') }}">
            <option value="all">All</option>
            {{ include("_includes/options-type.twig") }}
        </select>
    </div>
</section>
