{# @var pokemon \craft\elements\Entry #}
{# @var store \attributes\stores\PokemonDetail #}

{% import "_includes/macros.twig" as macros %}

{# Create a PokemonEntryType and then populated it from values coming from the `pokemon` entry #}
{# @var pokemonEntry \models\PokemonEntryType #}
{% set pokemonEntry = create('models\\PokemonEntryType') %}
{% set pokemonEntry = pokemonEntry | reduce(
    (carry, value, key) => carry | merge({ (key): pokemon[key] ?? null }),
    {}) %}

{% set backgroundColor = macros.colorFromType(pokemon.type1) | spaceless %}
{% set imgUrl = macros.pokemonImageFromId(pokemon.pokemonId) | spaceless %}
<h3 class="m-3 text-3xl text-center"><a href="/">&larr; back &nbsp;</a></h3>
<div class="card bg-base-100 w-50 shadow-xl rounded-lg overflow-hidden m-2"
     data-store="{{ sparkStoreFromClass('attributes\\stores\\PokemonDetail', {
         entryId: pokemon.id,
         pokemonEntry: pokemonEntry,
         editing: false
     }) }}"
>
    <div class="{{ macros.pokemonGradientClasses(backgroundColor) }}">
        <figure class="p-10">
            <img
                src="{{ imgUrl }}"
                alt="{{ pokemon.pokemonName }}"/>
        </figure>
    </div>
    <div class="card-body space-y-2 {{ macros.cardGradientClasses() }}">
        <div class="space-y-2"
             data-show="!$editing"
        >
            <p>
                Type: {{ pokemon.type1 }} / {{ pokemon.type2 }}
            </p>
            <p>
                Generation: {{ pokemon.generation }}
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-primary"
                        data-on-click="$editing = true"
                        data-show="!$editing"
                >
                    Edit
                </button>
            </div>
        </div>
        <div class="space-y-2" style="display: none"
             data-show="$editing"
        >
            <p class="space-y-2">
                <label for="name">Name:</label>
                <input type="text"
                       id="name"
                       class="input input-bordered w-full"
                       data-model="pokemonEntry.pokemonName"
                >
            </p>
            <div class="card-actions justify-end">
                <button class="btn btn-neutral"
                        data-on-click="$editing = false"
                        data-show="$editing"
                >
                    Cancel
                </button>
                <button class="btn btn-primary"
                        data-on-click="{{ spark('_spark/save-entry.twig', method: 'post') }}"
                        data-show="$editing"
                >
                    Save
                </button>
            </div>
        </div>
        <div id="alert"></div>
    </div>
</div>
