{% extends "layout.twig" %}

{% block headLinks %}
    <link href="{{ alias('@web/css/daisyui-full.min.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ alias('@web/js/tailwindcss.min.js') }}"></script>
{% endblock headLinks %}

{# -- Content that appears before the primary content block -- #}
{% block preContent %}
    {{ include("_includes/site-header.twig", { pageTitle: entry.pokemonName}, with_context = false) }}
{% endblock %}

{# -- Primary content block -- #}
{% block content %}
    <section class="flex flex-col items-center my-4">
        {{ include("_includes/pokemon-detail.twig", { pokemon: entry }, with_context = false) }}
    </section>
{% endblock %}

{# -- Content that appears after the primary content block -- #}
{% block postContent %}
{% endblock %}

{# -- Any <script></script> tags that should be included before </body> -- #}
{% block bodyScripts %}
    {{ parent() }}
{% endblock bodyScripts %}
