{% extends "layout.twig" %}

{% import "_includes/macros.twig" as macros %}

{% block headLinks %}
    <link href="{{ alias('@web/css/daisyui-full.min.css') }}" rel="stylesheet" type="text/css"/>
    <script src="{{ alias('@web/js/tailwindcss.min.js') }}"></script>
{% endblock headLinks %}

{# -- Content that appears before the primary content block -- #}
{% block preContent %}
    {{ include("_includes/site-header.twig", { pageTitle: "Pokedex" }, with_context = false) }}
{% endblock %}

{# -- Primary content block -- #}
{% block content %}
    <section class="text-center align-baseline"
             data-store="{{ sparkStoreFromClass('attributes\\stores\\FacetedSearch') }}">
        {# The search field #}
        <input
            id="search-field"
            class="input input-bordered w-full max-w-xs m-3"
            data-model="search"
            data-on-input.debounce_500ms="{{ spark('_spark/faceted-search.twig') }}"
            placeholder="Search..."
            type="text"
        />
        <div class="inline" style="display: none"
             data-show="$search != ''"
        ></div>
        {# The generation facet #}
        <div class="inline m-3">
            <label for="generation-field" class="mr-2">Generation</label>
            <select
                id="generation-field"
                class="select select-bordered max-w-xs"
                name="generation"
                data-model="generation"
                data-on-change="{{ spark('_spark/faceted-search.twig') }}">
                <option value="0">All</option>
                {{ include("_includes/options-generation.twig") }}
            </select>
        </div>
        {# The type facet #}
        <div class="inline m-3">
            <label for="type-field" class="mr-2">Type</label>
            <select
                id="type-field"
                class="select select-bordered max-w-xs"
                name="type"
                data-model="type"
                data-on-change="{{ spark('_spark/faceted-search.twig') }}">
                <option value="all">All</option>
                {{ include("_includes/options-type.twig") }}
            </select>
        </div>
    </section>
    {# The search results #}
    <section id="search-results" data-on-load="{{ spark('_spark/faceted-search.twig') }}">
    </section>
{% endblock %}

{# -- Content that appears after the primary content block -- #}
{% block postContent %}
    {# The results count #}
    <section id="results-count">
    </section>
    {# Display some stats #}
    <section class="text-center align-baseline">
        <p>
            Searches: <span data-text="$searchCount"></span>
        </p>
    </section>
{% endblock %}
