{% extends "layout.twig" %}

{% import "_includes/macros.twig" as macros %}

{# Query all the pokemon #}
{% set results = craft.entries()
    .section(['pokemon'])
    .orderby('score')
    .all() %}

{# -- Content that appears before the primary content block -- #}
{% block preContent %}
    {{ include("_includes/site-header.twig", { pageTitle: "Pokedex" }, with_context = false) }}
{% endblock %}

{# -- Primary content block -- #}
{% block content %}
    <div data-store="{{ datastarStoreFromClass('attributes\\stores\\FacetedSearch') }}">
        {# The faceted search UI #}
        {{ include("_includes/faceted-search-ui.twig", {}, with_context = false) }}
        {# The search results #}
        {{ include("_includes/search-results.twig", {results}, with_context = false) }}
    </div>
{% endblock %}

{# -- Content that appears after the primary content block -- #}
{% block postContent %}
    {# The results count #}
    {{ include("_includes/results-count.twig", {results}, with_context = false) }}
    {# Display some stats #}
    <section class="text-center align-baseline">
        <p>
            Searches: <span data-text="$searchCount">0</span>
        </p>
    </section>
{% endblock %}
